@import "./variable.scss";
@import "./_mixins.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper-container {
  margin-left: 20px;
  background-color: $bg-color;
  border-radius: 10px;
  padding: $padding-pixel;
  box-shadow: 0 20px 30px 5px rgb(0, 0, 0, 0.3);
  filter: brightness(0.5) saturate(1.2);
  transition: 0.5s;
}

.wrapper-container:hover {
  transform: scale(1.02);
  filter: none;
}

.main-container {
  padding: 10px;
  margin-top: 50px;

  display: flex;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.footer {
  width: 100%;
  color: $bg-color;
  margin-top: 100px;
}
.profiles-wrapper {
  padding: 10px;
  padding-top: 25px;
  padding: 0 10% 0 10%;
}
.text {
  color: #ffffff !important;
  line-height: 25px !important;
  padding-bottom: 10px;
}
.text-bold {
  font-weight: bold;
}
.icons {
  width: $padding-pixel;
  fill: white;
  cursor: pointer;
}

.css-vexj24-MuiGrid-root {
  max-width: 100% !important;
  min-width: 100%;
}

.page-header {
  margin-top: 80px;
}

.page-header-bg {
  background-repeat: no-repeat;
  background-position: right;
  margin-top: $padding-pixel;
  margin-bottom: $padding-pixel;
}

.page-header-p {
  line-height: 1.5;
}
